<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/home.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <header class='header'>
    <nav class='d-flex align-items-center justify-content-evenly'>

    <img src="{{url_for('static', filename = 'imgs/logomini.svg')}}" alt="">

    <h3>Agendar</h3>
    <h3>Meus agendamentos</h3>
    </nav>

  </header>
  <section class="section">
    <p>Relapse</p>
    <h1>A sua saúde psicologica é a nossa prioridade.</h1>
    <a href="{{url_for('usuarios.usuario_cadastro')}}">Cadastro</a>  
    <a href="{{url_for('usuarios.usuario_login')}}">Entrar</a>
    <a href="{{url_for('perfil')}}">Perfil</a>


  </section>
  
</body>
</html>