<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/cadastro.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class=''>
  <main class ='d-flex align-items-center justify-content-evenly main'>
    
    <section class="container-login "> 
      <img src="{{url_for('static', filename = 'imgs/logo.svg')}}" alt="">
    </section>

    <section class="">
        <div class="">
          <h1>Entrar</h1>
          </div>
          <form action="{{url_for('usuarios.usuario_autenticar')}}" method="post" >
            
              
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name='email' class="form-control text-bg-light"  id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input type="password" name = 'senha' class="form-control text-bg-light" id="senha">
            </div>
            
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Default checkbox
              </label>
            </div>

            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Cadastrar</button>
            </div>
          </form>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Entrar usando o SUAP<br><a id="botao-login-suap" href="https://suap.ifrn.edu.br/accounts/login/?next=/o/authorize/%3Fresponse_type%3Dtoken%26grant_type%3Dimplict%26client_id%3Dcolocar_a_chave_aqui%26scope%3Didentificacao%2520email%2520documentos_pessoais">Clique aqui</a>
            </div>
            
            <div class="d-flex justify-content-center">
              <a href="#">Esqueceu sua senha?</a>
            </div>
          </div>
        
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../js.cookie.js"></script>
  <script src="../settings.js"></script>
  <script src="../client.js"></script>
  <script>
      var suap = new SuapClient(SUAP_URL, CLIENT_ID, REDIRECT_URI, SCOPE);
      suap.init();
      $(document).ready(function () {
          $("#botao-login-suap").attr('href', suap.getLoginURL());
      });
  </script>
</body>

</html>